.home__container {
    /* background-color: blue; */
    height: auto;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 15px;
   
}
.rightside {
    width: 20%;
}
.postscontainer__{
    min-height: 90vh;
    width: 50%;
    /* background-color: red; */
}