.header__container {
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 10;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.466);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    top: 15px;
}
.header__container > p {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.background__color {
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(
        to right,   
        #f83600,
        #fe8c00
    ); 
}
