.header__container {
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 30px 0px rgba(49, 49, 49, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    top: 15px;
}
.header__container > p {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.background__color {
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
}
