.input__conatiner {
    width: 60%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    color: gray;
    background-color: white;
}
.input__txt {
    width: 90%;
    height: 20px;
    padding: 5px;
    border: 0;
    outline: none;
    background-color: transparent;
    
}
